@font-face {
  font-family: "AveReg";
  src: url("../../assets/font/Alternative_files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AveDemi";
  src: url("../../assets/font/Alternative_files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AveBold";
  src: url("../../assets/font/Alternative_files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "AveReg";
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:active {
  color: #FFFFFF;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  height: 85px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  align-items: center;
  padding-top: 1rem;
}
@media (min-width: 780px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .nav {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 780px) and (min-width: 1280px) {
  .nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
.nav__logo {
  max-width: 120px;
  max-height: 80px;
}
.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
@media (min-width: 780px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.25rem;
    height: 100%;
  }
}
.nav__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 780px) {
  .nav__link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .nav__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 5rem;
  }
}
.nav__bio {
  font-family: "AveDemi";
  border-bottom: solid 4px #FFFFFF;
}
.nav__bio:active {
  border-bottom: solid 4px #FFFFFF;
}
.nav__bio:hover {
  border-bottom: solid 4px #FFFFFF;
}
.nav__shows:hover {
  border-bottom: solid 4px #FFFFFF;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 12rem;
  min-height: 12rem;
  position: relative;
}
@media (min-width: 780px) {
  .hero {
    height: 30rem;
  }
}
.hero::before {
  height: 100%;
  width: 100%;
  z-index: 1;
  content: "";
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "AveDemi";
  z-index: 2;
  color: #FFFFFF;
}
@media (min-width: 780px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .hero__header {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    width: 100%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 780px) {
  .about {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
.about__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .about__header {
    margin-top: 3rem;
  }
}
.about__img {
  aspect-ratio: 16/9;
}
@media (min-width: 780px) {
  .about__img {
    padding: 0 2.25rem;
  }
}
.about__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
@media (min-width: 780px) {
  .about__caption {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .about__caption {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 780px) and (min-width: 1280px) {
  .about__caption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
.about__caption-quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__caption-quote {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.about__caption-credits {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__caption-credits {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.about__container-subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 1.5rem;
  font-weight: 700;
}
@media (min-width: 780px) {
  .about__container-subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 780px) {
  .about__container-subheader {
    margin-top: 3rem;
  }
}
.about__container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 780px) {
  .about__container-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .about__container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
}

.photoGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 780px) {
  .photoGallery {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photoGallery {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
@media (min-width: 780px) {
  .photoGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.25rem;
  }
}
.photoGallery__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .photoGallery__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .photoGallery__header {
    margin-top: 3rem;
  }
}
.photoGallery__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 780px) {
  .photoGallery__column {
    display: grid;
    grid-template-columns: repeat(3, minmax(13rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 1.5rem;
  }
}
.photoGallery-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  filter: grayscale(100%);
}
@media (min-width: 780px) {
  .photoGallery-img {
    width: 100%;
    min-width: 13rem;
    max-width: auto;
  }
}
.photoGallery-img:hover {
  filter: grayscale(0%);
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 780px) {
  .comments {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
.comments__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .comments__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .comments__header {
    margin-top: 3rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
@media (min-width: 780px) {
  .comments__form {
    margin-top: 3rem;
  }
}
@media (min-width: 780px) {
  .comments__form {
    width: 100%;
    max-width: 640px;
    padding: 3rem 2.25rem 0 2.25rem;
    margin: 0 auto;
  }
}
.comments__form-img {
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 1.5rem;
  border-radius: 50%;
}
@media (min-width: 780px) {
  .comments__form-img {
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
  }
}
.comments__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.comments__form-name {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #AFAFAF;
  margin-bottom: 4px;
}
@media (min-width: 780px) {
  .comments__form-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.comments__form-name--input {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "AveReg";
  color: #323232;
  padding: 12px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
}
@media (min-width: 780px) {
  .comments__form-name--input {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.comments__form-name--input:focus {
  outline: 1px solid #323232;
}
.comments__form-name--input::-moz-placeholder {
  color: #323232;
}
.comments__form-name--input:-ms-input-placeholder {
  color: #323232;
}
.comments__form-name--input::placeholder {
  color: #323232;
}
.comments__form-comment {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #AFAFAF;
  margin-bottom: 4px;
}
@media (min-width: 780px) {
  .comments__form-comment {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.comments__form-comment--input {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "AveReg";
  height: 4rem;
  color: #323232;
  padding: 12px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
}
@media (min-width: 780px) {
  .comments__form-comment--input {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.comments__form-comment--input:focus {
  outline: 1px solid #323232;
}
.comments__form-comment--input::-moz-placeholder {
  color: #323232;
}
.comments__form-comment--input:-ms-input-placeholder {
  color: #323232;
}
.comments__form-comment--input::placeholder {
  color: #323232;
}
.comments__form--submit {
  height: 40px;
  max-height: 40px;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
}
.comments__form--submit:hover {
  background-color: #000000;
}
@media (min-width: 780px) {
  .comments__form--submit {
    width: 20%;
    min-width: 150px;
    margin-left: auto;
  }
}
.comments__break {
  stroke-width: 1px;
  margin: 1rem 0;
  color: #E1E1E1;
}
@media (min-width: 780px) {
  .comments__break {
    width: 100%;
    max-width: 640px;
    margin: 3rem auto 0 auto;
  }
}

@media (min-width: 780px) {
  .comment {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
}
.comment__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 1rem 0;
}
.comment__content-img {
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  background-position: center;
  background-size: cover;
  background-color: #E1E1E1;
  border-radius: 50%;
}
@media (min-width: 780px) {
  .comment__content-img {
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
  }
}
.comment__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
}
@media (min-width: 780px) {
  .comment__content-container {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.comment__content-separator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment__content-name {
  font-family: "AveDemi";
  margin-right: auto;
  color: #323232;
}
.comment__content-date {
  margin-left: auto;
  color: #E1E1E1;
}
.comment__break {
  stroke-width: 1px;
  margin: 1rem 0;
  color: #E1E1E1;
}

.error {
  border: 1px solid #d22d2d;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  background-color: #323232;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}
@media (min-width: 780px) {
  .footer__container {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
@media (min-width: 780px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    align-items: baseline;
  }
}
.footer__social-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
  letter-spacing: 0.5px;
}
@media (min-width: 780px) {
  .footer__social-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .footer__social-header {
    margin-top: 3rem;
  }
}
.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  height: 50%;
}
.footer__social-link {
  height: 100%;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 780px) {
  .footer__contact {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .footer__contact {
    max-width: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 780px) {
  .footer__contact-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .footer__contact-container {
    margin-top: 3rem;
  }
}
.footer__contact-name {
  font-family: "AveDemi";
}
.footer__copyright-logo {
  margin-top: 3.5rem;
  max-width: 120px;
  max-height: 80px;
}
@media (min-width: 780px) {
  .footer__copyright-logo {
    margin: 0;
    position: absolute;
    top: 3.75rem;
    right: 2.25rem;
  }
}
.footer__copyright-text {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 1rem;
}
@media (min-width: 780px) {
  .footer__copyright-text {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright-text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
  }
}
@media (min-width: 780px) {
  .footer__copyright-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .footer__copyright-text {
    margin-top: 2.25rem;
  }
}/*# sourceMappingURL=bio.css.map */