@font-face {
  font-family: "AveReg";
  src: url("../../assets/font/Alternative_files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AveDemi";
  src: url("../../assets/font/Alternative_files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AveBold";
  src: url("../../assets/font/Alternative_files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "AveReg";
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  height: 85px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
}
@media (min-width: 780px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 0;
  }
}
.nav__logo {
  margin: 0 1rem;
  max-width: 120px;
  max-height: 80px;
}
@media (min-width: 780px) {
  .nav__logo {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}
@media (min-width: 780px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    height: 100%;
  }
}
.nav__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 780px) {
  .nav__link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .nav__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 5rem;
  }
}
.nav__bio {
  font-family: "AveDemi";
  border-bottom: solid 4px #FFFFFF;
}
.nav__shows:hover {
  border-bottom: solid 4px #FFFFFF;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 12rem;
  min-height: 12rem;
  position: relative;
}
@media (min-width: 780px) {
  .hero {
    height: 30rem;
  }
}
.hero::before {
  height: 100%;
  width: 100%;
  z-index: 1;
  content: "";
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 1rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "AveDemi";
  z-index: 2;
  color: #FFFFFF;
}
@media (min-width: 780px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .hero__header {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    margin: 0 auto;
    padding: 0 4rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
}
@media (min-width: 780px) {
  .about {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.about__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .about__header {
    margin-top: 3rem;
  }
}
.about__img {
  width: 100%;
}
@media (min-width: 780px) {
  .about__img {
    margin: 0 1rem;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .about__img {
    margin: 0 2.25rem;
  }
}
@media (min-width: 780px) and (min-width: 1280px) {
  .about__img {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.about__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
@media (min-width: 780px) {
  .about__caption {
    margin: 0 1rem;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .about__caption {
    margin: 0 2.25rem;
  }
}
@media (min-width: 780px) and (min-width: 1280px) {
  .about__caption {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.about__caption-quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__caption-quote {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.about__caption-credits {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .about__caption-credits {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.about__container-subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 1.5rem;
  font-weight: 700;
}
@media (min-width: 780px) {
  .about__container-subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 780px) {
  .about__container-subheader {
    margin-top: 3rem;
  }
}
.about__container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 780px) {
  .about__container-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .about__container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
}

.photoGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
}
@media (min-width: 780px) {
  .photoGallery {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photoGallery {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
@media (min-width: 780px) {
  .photoGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.25rem;
  }
}
.photoGallery__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
}
@media (min-width: 780px) {
  .photoGallery__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .photoGallery__header {
    margin-top: 3rem;
  }
}
.photoGallery__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 780px) {
  .photoGallery__column {
    display: grid;
    grid-template-columns: repeat(3, minmax(13rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 1.5rem;
  }
}
.photoGallery-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
@media (min-width: 780px) {
  .photoGallery-img {
    width: 100%;
    min-width: 13rem;
    max-width: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  background-color: #323232;
  color: white;
  position: relative;
}
.footer__container {
  margin: 0 1rem;
}
@media (min-width: 780px) {
  .footer__container {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
@media (min-width: 780px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    align-items: baseline;
  }
}
.footer__social-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 1.5rem;
  font-family: "AveDemi";
  letter-spacing: 0.5px;
}
@media (min-width: 780px) {
  .footer__social-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 780px) {
  .footer__social-header {
    margin-top: 3rem;
  }
}
.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  height: 50%;
}
.footer__social-link {
  height: 100%;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 780px) {
  .footer__contact {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 780px) {
  .footer__contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 780px) {
  .footer__contact-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media (min-width: 780px) and (min-width: 780px) {
  .footer__contact-container {
    margin-top: 3rem;
  }
}
.footer__contact-name {
  font-family: "AveDemi";
}
.footer__copywrite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  margin-top: 56px;
}
@media (min-width: 780px) {
  .footer__copywrite {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.footer__copywrite-text {
  margin: 0 1rem;
}
@media (min-width: 780px) {
  .footer__copywrite-text {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__copywrite-text {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
.footer__copyright-logo {
  margin-top: 3.5rem;
}
@media (min-width: 780px) {
  .footer__copyright-logo {
    margin: 0;
    position: absolute;
    top: 3.75rem;
    right: 2.25rem;
  }
}
.footer__copyright-text {
  margin: 0 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 780px) {
  .footer__copyright-text {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright-text {
    margin: 0 auto;
    padding: 0 4rem;
  }
}
@media (min-width: 780px) {
  .footer__copyright-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */